<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="web/app.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Serve Bundle Assets" enabled="true" stopProcessing="true">
                    <match url="^bundles/(.*)?" />
                    <action type="Rewrite" url="web/bundles/{REQUEST_URI}" />
                </rule>
                <rule name="Serve JS Assets" enabled="true" stopProcessing="true">
                    <match url="^js/(.*)?" />
                    <action type="Rewrite" url="web/js/{REQUEST_URI}" />
                </rule>
                <rule name="Serve CSS Assets" enabled="true" stopProcessing="true">
                    <match url="^css/(.*)?" />
                    <action type="Rewrite" url="web/css/{REQUEST_URI}" />
                </rule>
                <rule name="Serve Favicon Assets" enabled="true" stopProcessing="true">
                    <match url="^favicon.ico?" />
                    <action type="Rewrite" url="web/favicon.ico" />
                </rule>
                <rule name="Symfony Frontcontroller" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="web/app.php" />
                </rule>
            </rules>
        </rewrite> 
    </system.webServer>
</configuration>
